In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')


netflix = pd.read_csv(r'C:\Users\claur\OneDrive\Área de Trabalho\portfolio\Netflix\netflix_titles.csv')

display(netflix.head())

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [3]:
## DATA TREATMENT / LIMPEZA DOS DADOS

netflix.info()

print('As colunas 3, 4, 5 e 6 possuem valoeres nulos e preciso tratá-los para fazer uma análise mais precisa dos dados.')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
As colunas 3, 4, 5 e 6 possuem vaoleres nulos e preciso tratá-los para fazer uma análise mais precisa dos dados.

In [7]:
#qt de linhas e colunas totais

netflix.shape
#print(f'O parâmetro shape me diz que tenho 8807 linhas e 12 colunas.')

(8807, 12)

In [9]:
# isnull() e sum() me mostram diretamente quantos dados nulos tenho em cada coluna respectiva.
netflix.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [8]:
linhas = netflix.shape[0]
print(linhas)
print(netflix.shape)
#print(f'Como o df tem {linhas}, posso descobrir a distribuição da porcentagem dos dados nulos nas colunas. Isso me ajudará a priorizar quais colunas devo tratar primeiro.')

8807
(8807, 12)

In [10]:
percentual_nulos = netflix.isnull().sum() / netflix.shape[0] * 100
display(percentual_nulos)
print('Há mais de 30% de dados nulos no df. remover linhas com valores nulos.')

show_id          0.000000
type             0.000000
title            0.000000
director        29.908028
cast             9.367549
country          9.435676
date_added       0.113546
release_year     0.000000
rating           0.045418
duration         0.034064
listed_in        0.000000
description      0.000000
dtype: float64

Há mais de 30% de dados nulos no df. remover linhas com valores nulos.

In [11]:
netflix = netflix.dropna()
netflix.info()
print('Valores nulos removidos com sucesso.')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5332 entries, 7 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5332 non-null   object
 1   type          5332 non-null   object
 2   title         5332 non-null   object
 3   director      5332 non-null   object
 4   cast          5332 non-null   object
 5   country       5332 non-null   object
 6   date_added    5332 non-null   object
 7   release_year  5332 non-null   int64
 8   rating        5332 non-null   object
 9   duration      5332 non-null   object
 10  listed_in     5332 non-null   object
 11  description   5332 non-null   object
dtypes: int64(1), object(11)
memory usage: 541.5+ KB
Valores nulos removidos com sucesso.

In [12]:
#counting total null values across entire dataset
netflix.isnull().sum().sum()

0

In [13]:
netflix.describe()

       release_year
count   5332.000000
mean    2012.742123
std        9.625831
min     1942.000000
25%     2011.000000
50%     2016.000000
75%     2018.000000
max     2021.000000

In [16]:
#o count me deixa ver qts dados nao nulos tem no df direto.
#assim pra ver aa porcentagem em relacao ao total é so dividir pelo shape do def
# aqui vai mostrar q tem 100% de nao nulos pq ja limpei os nulos do df
netflix.count() / netflix.shape[0] * 100

show_id         100.0
type            100.0
title           100.0
director        100.0
cast            100.0
country         100.0
date_added      100.0
release_year    100.0
rating          100.0
duration        100.0
listed_in       100.0
description     100.0
dtype: float64